
{% extends 'base.html' %}
{% load static %}

{% block content %}  
  <main>
  
    
    
   <div class="jumbotron jumbotron-fluid">
       
          <video autoplay muted loop>
            <source src={% static 'Book-video.mp4' %} type="video/mp4">
          </video>
  
    
          <div class="col-lg-6 col-md-8 py-5 hero-content container">
            <h1 class="text-light outline text-center py-0">Stories</h2>
            <!-- <h3 class="text-dark pb-5">Here's how you can talk to us.</h3> -->
           
          </div> 
  
     
    </div> 
    {% for blog in blogs.all %}
    <div class="container py-2">
        <h3 class="text-center">{{ blog.title }}</h3>
        <p class="text-center">{{ blog.date }}</p>
        
        <div class="container" style="display: flex;">
            <div class="row">        
                <div class="col-md-6 col-xs-6 text-right">
                    <img src={{blog.image.url}} style="height: 300px; float:right;"/>
                </div>
                <div class="col-md-6 col-xs-6">   
                  <p>{{blog.long_summary | linebreaks}} </p>
                
                </div>
           </div>
           
        </div>
        <p class='text-center py-5'>
            <a href={% url 'detail' blog.id %} class="nounderline fw-dark btn btn-primary text-light">Read More</a>
        </p>
        
        
        <hr/>
    </div>
    
    {% endfor %}
    




</div>
</main>

{% endblock %}

  </body>
</html>
