{% extends 'base.html' %}
{% load static %}
{% load replace_tag %}
{% load crispy_forms_tags %}
{% block content %}
 

<main>
  <style>
            
    .jumbotron{
        position: absolute;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        right:0;
        height:75vh;
      
        display: flex;
        align-items: center;
        padding: 100px;
        color: white;
        background-image: url({{blog.image.url}});
        background-size: cover;
    }
    
  </style>
  
  
 <div class="jumbotron jumbotron-fluid">
     
      

  
        <div class="col-lg-6 col-md-8 py-5 hero-content container text-center">
            
            <h1 class="text-light outline py-0">{{blog.title}}</h2>
            <h5 class="text-light outline pb-5">{{blog.date}}</h5>

          
       
        </div> 

   
  </div> 
  <div class="container py-5">
    <h6 class="text-light fs-4">{{blog.body|linebreaks}}</h6>

  </div>
  <div class="text-center container py-5">
    <a href="{% url 'stories' %}" class="btn btn-primary my-2 fw-dark">More stories</a>
  </div>
  


</div>

<!-- <div class="container">
 
  <form method="post">
    {%csrf_token %}
    <H2 class=text-center> Comments</H2>
    {{form|crispy}}
    <div class="d-grid gap-2">
      <button class="btn btn-success mt-3">Submit!</button>
    </div>
     <input type ="submit" value="Submit" class="btn btn-primary my-3">
  </form>

</div>
{% for comment in comments %}
<div class="row justify-content-center mt-3 mb-5 container-fluid">
    <div class="col-md-5 col-sm-12 text-center">
        <h5><strong>{{comment.name}}</strong></h5>
        <h6 class="text-muted">{{comment.pub_date}}</h6>

        <p>{{ comment.body}}</p>
    </div>

</div>
<hr/>
{% endfor %} -->
</div>


</main>

{% endblock %}


  </body>
</html>
