{% extends 'base.html' %}>
{% load static %}

{% block content %}
<style>
            
  .jumbotron{
      position: absolute;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
      right:0;
      height:75vh;
    
      display: flex;
      align-items: center;
      padding: 100px;
      color: white;
      background-image: url("static/Meeting-image.jpg");
      background-size: cover;
  }
  
</style>
<main>


  <div class="jumbotron jumbotron-fluid">
     
    


    <div class="col-lg-6 col-md-8 py-5 hero-content container">
      <h1 class="fw-dark text-center outline py-0">About Jinius Solutions</h2>
      <!-- <h3 class="fw-dark outline  pb-5">Find the right workers to meet your developement needs</h3> -->
    
    </div> 


</div> 

  <section class="py-5 text-center">
      <div class="row py-0">

          <div class="col-lg-6 col-md-8 mx-auto text-center">
            
          </div>

      </div>

  </section>


</div>
</main>

{% endblock %}
