{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
            
  .jumbotron{
      position: absolute;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
      right:0;
      height:75vh;
    
      display: flex;
      align-items: center;
      padding: 100px;
      color: white;
      background-image: url("/static/Person-with-phone.jpg");
      background-size: cover;
  }
  
</style>
  <main>
  
    
    
   <div class="jumbotron jumbotron-fluid">
       
          
  
    
          <div class="col-lg-6 col-md-8 py-5 hero-content container">
            <h1 class="text-light outline py-0">Want to get in touch?</h2>
            <h3 class="ttext-light outline pb-5">Here's how you can talk to us.</h3>
           
          </div> 
    
  
     
    </div> 
    <div class="container py-5">
      <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="form-actions text-center">
          <button type="submit" class="btn btn-primary my-4">Send</button>
        </div>
      </form>
    </div>
    
 




</div>
</main>

{% endblock %}

  </body>
</html>
